*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

div.app {
  height: 100%;
}

label {
  text-transform: capitalize;
}

.btn {
  color: #fff;
  font-size: 14px;
  line-height: 1.5714285714285714;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
}

.posts-link {
  background: #309711;
}

.back {
  margin: 10px 15px;
  padding: 10px 25px;
  border-color: #4096ff;
  color: #000;
}

.back:hover {
  background-color: #4096ff;
  color: #fff;
}

.posts-link:hover {
  color: #4096ff;
  border-color: #4096ff;
  background: #ffffff;
}

.edit-data {
  background: #f3bb20;
}

.error-page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page h3 {
  margin-bottom: 0.5rem;
}

.error-page p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #000;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 6rem;
  height: 6rem;
  border: 5px solid #829ab1;
  border-radius: 50%;
  border-top-color: #3b82f6;
  animation: spinner 2s linear infinite;
}
